{{define "title"}}Home Page {{end}}

{{define "main"}}
<div class="container">
    <div class="feeds">
        <ul>
            {{range .}}
            <li>

                <a href={{.URL}}>

                    <div class="feed-card">
                        <div class="feed-card-head">
                            <img src={{.Thumbnail}} alt="">
                        </div>
                        <div class="feed-card-body">
                            {{range .Topics}}
                            <b class="bg-danger p-1">{{.}}</b>
                            {{end}}
                            <br>
                            <h4>{{.Title}}</h4>


                            <span class="txt-danger">{{.UploadedAt}}</span>

                        </div>
                    </div>
                </a>


            </li>
            <br>
            <br>
            {{end}}

        </ul>

    </div>
</div>


<br>
<br>
{{end}}
